/src/BioHorizon/.vs/BioHorizon/CopilotIndices
/src/BioHorizon
/src/biohorizon_backend/.vs
/src/BioHorizon
biohorizon_backend/biohorizon_backend.pyproj
biohorizon_backend/biohorizon_backend.sln
/src/services/.vs
/srcservices/services.sln
/srcservices/services.pyproj
.venv
/venv
/.idea

.vscode
.env
