/BioHorizon/.vs/BioHorizon/CopilotIndices
/biohorizon_backend/.vs
biohorizon_backend/biohorizon_backend.pyproj
biohorizon_backend/biohorizon_backend.sln
/services/.vs
services/services.sln
services/services.pyproj
.venv
/venv
/.idea

.vscode
env.py
/services/__pycache__
/BioHorizon/mainapp/__pycache__
BioHorizon/mainapp/__pycache__/urls.cpython-313.pyc
/BioHorizon/BioHorizon/__pycache__
/BioHorizon/services/__pycache__
/BioHorizon/BioHorizon/__pycache__
/BioHorizon/BioHorizon/__pycache__
/BioHorizon/BioHorizon/__pycache__
/BioHorizon/BioHorizon/__pycache__
BioHorizon/BioHorizon/__pycache__/urls.cpython-313.pyc
/BioHorizon/venv
/BioHorizon/venv
/BioHorizon/venv
/BioHorizon/venv
BioHorizon/venv/Lib/site-packages/django/core/checks/__pycache__/translation.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/core/checks/__pycache__/urls.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/core/checks/compatibility/__pycache__/__init__.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/core/checks/compatibility/__pycache__/django_4_0.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/core/checks/security/__pycache__/__init__.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/core/checks/security/__pycache__/base.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/core/checks/security/__pycache__/csrf.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/core/checks/security/__pycache__/sessions.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/core/files/__pycache__/__init__.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/core/files/__pycache__/base.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/core/files/__pycache__/images.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/core/files/__pycache__/locks.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/core/files/__pycache__/move.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/core/files/__pycache__/temp.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/core/files/__pycache__/uploadedfile.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/core/files/__pycache__/uploadhandler.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/core/files/__pycache__/utils.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/core/files/storage/__pycache__/__init__.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/core/files/storage/__pycache__/base.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/core/files/storage/__pycache__/filesystem.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/core/files/storage/__pycache__/handler.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/core/files/storage/__pycache__/memory.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/core/files/storage/__pycache__/mixins.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/core/serializers/__pycache__/__init__.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/core/serializers/__pycache__/base.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/core/serializers/__pycache__/json.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/core/serializers/__pycache__/python.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/db/__pycache__/__init__.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/db/__pycache__/transaction.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/db/__pycache__/utils.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/db/backends/__pycache__/__init__.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/db/backends/__pycache__/utils.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/db/backends/base/__pycache__/__init__.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/db/backends/base/__pycache__/operations.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/db/models/__pycache__/__init__.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/db/models/__pycache__/aggregates.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/db/models/__pycache__/base.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/db/models/__pycache__/constants.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/db/models/__pycache__/constraints.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/db/models/__pycache__/deletion.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/db/models/__pycache__/enums.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/db/models/__pycache__/expressions.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/db/models/__pycache__/indexes.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/db/models/__pycache__/lookups.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/db/models/__pycache__/manager.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/db/models/__pycache__/options.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/db/models/__pycache__/query.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/db/models/__pycache__/query_utils.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/db/models/__pycache__/signals.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/db/models/__pycache__/utils.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/db/models/fields/__pycache__/__init__.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/db/models/fields/__pycache__/composite.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/db/models/fields/__pycache__/files.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/db/models/fields/__pycache__/generated.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/db/models/fields/__pycache__/json.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/db/models/fields/__pycache__/mixins.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/db/models/fields/__pycache__/proxy.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/db/models/fields/__pycache__/related.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/db/models/fields/__pycache__/related_descriptors.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/db/models/fields/__pycache__/related_lookups.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/db/models/fields/__pycache__/reverse_related.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/db/models/fields/__pycache__/tuple_lookups.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/db/models/functions/__pycache__/__init__.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/db/models/functions/__pycache__/comparison.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/db/models/functions/__pycache__/datetime.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/db/models/functions/__pycache__/json.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/db/models/functions/__pycache__/math.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/db/models/functions/__pycache__/mixins.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/db/models/functions/__pycache__/text.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/db/models/functions/__pycache__/window.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/db/models/sql/__pycache__/__init__.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/db/models/sql/__pycache__/constants.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/db/models/sql/__pycache__/datastructures.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/db/models/sql/__pycache__/query.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/db/models/sql/__pycache__/subqueries.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/db/models/sql/__pycache__/where.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/dispatch/__pycache__/__init__.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/dispatch/__pycache__/dispatcher.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/forms/__pycache__/__init__.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/forms/__pycache__/boundfield.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/forms/__pycache__/fields.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/forms/__pycache__/forms.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/forms/__pycache__/formsets.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/forms/__pycache__/models.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/forms/__pycache__/renderers.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/forms/__pycache__/utils.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/forms/__pycache__/widgets.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/http/__pycache__/__init__.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/http/__pycache__/cookie.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/http/__pycache__/multipartparser.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/http/__pycache__/request.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/http/__pycache__/response.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/template/__pycache__/__init__.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/template/__pycache__/autoreload.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/template/__pycache__/base.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/template/__pycache__/context.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/template/__pycache__/engine.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/template/__pycache__/exceptions.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/template/__pycache__/library.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/template/__pycache__/loader.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/template/__pycache__/utils.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/template/backends/__pycache__/__init__.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/template/backends/__pycache__/base.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/template/backends/__pycache__/django.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/templatetags/__pycache__/__init__.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/templatetags/__pycache__/static.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/urls/__pycache__/__init__.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/urls/__pycache__/base.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/urls/__pycache__/conf.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/urls/__pycache__/converters.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/urls/__pycache__/exceptions.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/urls/__pycache__/resolvers.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/urls/__pycache__/utils.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/utils/__pycache__/__init__.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/utils/__pycache__/_os.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/utils/__pycache__/autoreload.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/utils/__pycache__/choices.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/utils/__pycache__/connection.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/utils/__pycache__/crypto.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/utils/__pycache__/datastructures.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/utils/__pycache__/dateformat.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/utils/__pycache__/dateparse.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/utils/__pycache__/dates.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/utils/__pycache__/deconstruct.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/utils/__pycache__/deprecation.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/utils/__pycache__/duration.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/utils/__pycache__/encoding.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/utils/__pycache__/formats.cpython-313.pyc
BioHorizon/venv/Lib/site-packages/django/utils/__pycache__/functional.cpython-313.pyc
