/BioHorizon/.vs/BioHorizon/CopilotIndices
/BioHorizon
/biohorizon_backend/.vs
biohorizon_backend/biohorizon_backend.pyproj
biohorizon_backend/biohorizon_backend.sln
/services/.vs
services/services.sln
services/services.pyproj
.venv
/venv
/.idea

.vscode
env.py
/services/__pycache__
