{% extends 'mainapp/base.html' %}

{% block content %}
<h1><b>Articles:</b></h1>

<ul class="list-group">
    <div class="d-flex flex-wrap gap-3">
        {%for instance in result%}
        <div class="card" style="width: 32rem;">
            <div class="card-body">
                <h5 class="card-title"><b>{{instance.title|capfirst}}</b></h5>
                <p class="card-text">Description: {{instance.description}}</p>
                <a href="#" class="card-link">Details</a>
            </div>
        </div>
        {%endfor%}
    </div>
</ul>

{% endblock %}